{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
        <section id="hero-banner">
            <img id="hero-img" src="{{asset('img/home/image-home.png')}}" width="100%" alt="">
            <div id="hero-card" class="linear-gradient">
                <div  >
                    <h1>Flow'Eure</h1>
                    <p>Emballez vos moments précieux de la beauté florale avec Flow'eure. Livraison rapide à Evreux, nos
                        bouquets d'exception égayent chaque instant. Commandez maintenant, laissez la magie fleurir!</p>
                </div>
            </div>
        </section>
{% endblock %}