*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --clr-bg-noir: #1f1f1f;
    --clr-bg-white: #F1ECE4;
}
a{
    color: #fff;
    text-decoration: none;
}

body {
    margin-top: 5rem;
    background-color: var(--clr-bg-white) !important;
    font-size: "Lato", sans-serif !important;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--clr-bg-noir);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    #items-nav {
        position: absolute;
        top: 4.9rem;
        left: 0;
        background-color: var(--clr-bg-noir) !important;
        list-style: none;
        width: 100%;
        text-align: center;

        nav ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

    }

    #icon-burger {

        i {
            color: #fff;
        }
    }
    #avatar{
        border-radius: 50px;
        border: 2px solid #dff6d6;
    }
    p{
        color: #fff;
    };

    a {
        color: #fff;
        text-decoration: none;
    }
}




footer {
    background-color: var(--clr-bg-noir);
    display: flex;
    align-items: center;
    justify-content: space-around;

    nav {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    #reseaux {
        display: flex;
        gap: 2rem;
    }
}

.container {
    margin: 0 auto;
    width: 60%;
}

.hidden-burger{
    display: block;
}

.dispNone {
    display: none;
}

@media (min-width: 600px) {
    #items-nav {
        position: initial !important;
        background-color: var(--clr-bg-noir) !important;
        list-style: none;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: right;
        display: flex;
        gap: 1rem;

        nav ul {
            flex-direction: row !important;
        }

        ul {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 2rem;
            list-style: none;
        }

    }
    .hidden-burger {
    display: none !important;
    }
}