{% extends 'base.html.twig' %}

{% block title %}Hello DeniedController!{% endblock %}

{% block body %}
    <div class="alert alert-danger">

        Vous n'avez pas le droit d'accéder à cette page
    </div>
    <img src="https://cdn.dribbble.com/users/1192256/screenshots/6290585/1._friday.gif" alt="">
{% endblock %}
