{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('css/contact.css')}}">
<section>
    <div id="contact-image"><img src="{{ asset('img/contact/contact.png')}}" class="img" alt=""></div>
    <div><h2>Contactez-nous</h2>
    
    <form id="form-contact" action="Post">
        <input type="text" placeholder="Prénom..." aria-label="required">
        <input type="text" placeholder="Nom...">
        <input type="text" placeholder="Email...">
        <input type="text" placeholder="Message...">
        <input type="submit" value="envoyez">
    </form>
</div>

</section>
{% endblock %}
