{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('css/contact.css')}}">
<section>

    {% for message in app.flashes('succes') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    <div id="contact-image"><img src="{{ asset('img/contact/contact.png')}}" class="img" alt=""></div>
    <div><h2>Contactez-nous</h2>
    

{{ form(form) }}
</div>

</section>
{% endblock %}
