{% extends 'base.html.twig' %}

{% block title %}Hello MentionLegalesController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('css/ml_cgv.css')}}">

<div class="container">
    <h1>Mentions Légales</h1>
    <ul>
        <li>Forme juridique :</li>
        <li>Adresse du siège social :</li>
        <li>Numéro de téléphone : 06 55 55 55 55</li>
        <li>Adresse e-mail : Floweure@hotmail.fr</li>
        <li>Numéro d'inscription au registre du commerce et des sociétés (RCS) :</li>
        <li>Capital social :</li>
        <li>Numéro de TVA intracommunautaire :</li>
        <li>Directeur de la publication :</li>
        <li>Hébergeur du site :</li>
        <li>Adresse de l'hébergeur :</li>
    </ul>

    <h2>Conditions d'utilisation :</h2>
    <p>Les contenus de ce site (textes, images, vidéos, etc.) sont protégés par le droit d'auteur et sont la propriété
        de Flow'Eure ou de tiers ayant autorisé Flow'Eure à les utiliser. Toute reproduction, représentation,
        modification, publication, transmission ou exploitation des contenus, même partielle, est strictement interdite
        sans l'autorisation préalable de Flow'Eure.</p>

    <h2>Responsabilité :</h2>
    <p>Flow'Eure s'efforce de fournir des informations précises et à jour sur son site, mais ne peut garantir
        l'exactitude, l'exhaustivité ou la pertinence de ces informations. En conséquence, Flow'Eure décline toute
        responsabilité en cas d'erreurs, d'inexactitudes ou d'omissions dans les contenus du site. Les liens vers des
        sites tiers sont fournis à titre informatif et Flow'Eure n'assume aucune responsabilité quant au contenu de ces
        sites.</p>

    <h2>Protection des données personnelles :</h2>
    <p>Flow'Eure collecte et traite les données personnelles des utilisateurs conformément à sa politique de
        confidentialité. Les utilisateurs disposent d'un droit d'accès, de rectification et de suppression de leurs
        données personnelles. Pour exercer ces droits, ils peuvent contacter Flow'Eure à l'adresse e-mail suivante :
        Floweure@hotmail.fr.</p>

    <h2>Modification des mentions légales :</h2>
    <p>Flow'Eure se réserve le droit de modifier les présentes mentions légales à tout moment et sans préavis. Les
        utilisateurs sont invités à consulter régulièrement cette page pour prendre connaissance des éventuelles
        modifications.</p>

    <h2>Loi applicable et juridiction compétente :</h2>
    <p>Les présentes mentions légales sont régies par le droit français. En cas de litige, les tribunaux compétents
        seront ceux du lieu de domicile du défendeur ou, au choix du demandeur, du lieu de livraison effective du
        produit.</p>
</div>
{% endblock %}